[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
  ignore = dirty
[submodule "oh-my-zsh"]
  path = zsh/oh-my-zsh
  url = https://github.com/robbyrussell/oh-my-zsh.git
  ignore = dirty
[submodule "Vundle.vim"]
  path = vim/vim/bundle/Vundle.vim
  url = https://github.com/VundleVim/Vundle.vim.git
  ignore = dirty
[submodule "nerdTree"]
  path = vim/vim/bundle/nerdTree
  url = https://github.com/scrooloose/nerdtree.git
  ignore = dirty
[submodule "vim-airline"]
  path = vim/vim/bundle/vim-airline
  url = https://github.com/vim-airline/vim-airline.git
  ignore = dirty
[submodule "vim-airline-themes"]
  path = vim/vim/bundle/vim-airline-themes
  url = https://github.com/vim-airline/vim-airline-themes.git
  ignore = dirty
[submodule "vim-fugitive"]
  path = vim/vim/bundle/vim-fugitive
  url = https://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "vim-gitgutter"]
  path = vim/vim/bundle/vim-gitgutter
  url = https://github.com/airblade/vim-gitgutter.git
  ignore = dirty
[submodule "supertab"]
  path = vim/vim/bundle/supertab
  url = https://github.com/ervandew/supertab
  ignore = dirty
[submodule "syntastic"]
  path = vim/vim/bundle/syntastic
  url = https://github.com/scrooloose/syntastic
  ignore = dirty
[submodule "YouCompleteMe"]
  path = vim/vim/bundle/YouCompleteMe
  url = https://github.com/Valloric/YouCompleteMe
  ignore = dirty
[submodule "vim-tmux-navigator"]
  path = vim/vim/bundle/vim-tmux-navigator
  url = https://github.com/christoomey/vim-tmux-navigator
  ignore = dirty







